<!--<div class="container-fluid px-0 py-1">-->
<!--  <form #searchS="ngForm" class="form-inline my-2 my-lg-0 mr-5 w-100" >-->
<!--    <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" id="search" #search="ngModel" [(ngModel)]="model.search">-->
<!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--  </form>-->
<!--</div>-->
<form #searchS="ngForm" class=" my-2 my-lg-0 mr-5 w-80 py-2" (ngSubmit)="searcH()">
  <div class="input-group">
    <input class="form-control mr-sm-2 ml-auto" type="text" placeholder="Search" name="search" id="search" #search="ngModel" [(ngModel)]="model.search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </div>
</form>

<div class="row">
  <div class="col-md-4" *ngFor="let product of productList">
    <app-product-item [productItem]="product"></app-product-item>
  </div>
</div>
