<!--<div class="card filters ">-->

<!--  <div class="card-header">-->
<!--    <strong>Filters</strong>-->
<!--  </div>-->

<!--  <div class="card-body">-->
<!--    <form #filter="ngForm" (ngSubmit)="filterby()">-->
<!--      <div class="col py-3 form-group">-->
<!--      <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" class="pb-9" ></ng5-slider>-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="categoryL">Category</label>-->
<!--        <input type="value" id="categoryL" name="categoryL" class="form-control" #categoryL="ngModel" [(ngModel)]="model.categoryL"/>-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="subcategory">Subcategory</label>-->
<!--        <input type="value" id="subcategory" name="subcategory" class="form-control" #subcategory="ngModel" [(ngModel)]="model.subcategory"/>-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="brand">Brand</label>-->
<!--        <input type="value" id="brand" name="brand" class="form-control" #brand="ngModel" [(ngModel)]="model.brand" />-->
<!--      </div>-->

<!--      <button class="btn btn-primary btn-block btn-sm" type="">Filter by Price</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
