<div class="row mt-lg-3">
  <div class="col-md-6 offset-md-3">
    <div class="guest-form-card card">

      <div class="card-header text-center">
        <h2>Signup</h2>
      </div>

      <div class="card-body">
        <form #registerForm="ngForm" (ngSubmit)="register()">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              id="name"
              class="form-control"
              [ngClass]="{ 'is-invalid': name.touched && name.invalid }"
            name="name" #name="ngModel" [(ngModel)]="model.name" required
            />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
            name="email" #email="ngModel" [(ngModel)]="model.email" required
              ngModel [email]="true"
            />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': password.touched && password.invalid }"
              name="password" #password="ngModel" [(ngModel)]="model.password" required
            />
          </div>

          <div class="form-group row">
            <div class="form-group col-md-6 mb-4">
            <label for="country">Country</label>
            <input
              id="country"
              class="form-control"
              [ngClass]="{ 'is-invalid': country.touched && country.invalid }"
              name="country" #country="ngModel" [(ngModel)]="model.country" required
            />
              </div>
            <div class="form-group col-md-6 mb-4">
              <label for="state">State</label>
              <input
                id="state"
                class="form-control"
                [ngClass]="{ 'is-invalid': state.touched && state.invalid }"
                name="state" #state="ngModel" [(ngModel)]="model.state" required
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-md-6 mb-4">
              <label for="city">City</label>
              <input
                id="city"
                class="form-control"
                [ngClass]="{ 'is-invalid': city.touched && city.invalid }"
                name="city" #city="ngModel" [(ngModel)]="model.city" required
              />
            </div>
            <div class="form-group col-md-6 mb-4">
              <label for="pin">PIN</label>
              <input
                id="pin"
                type="number"
                class="form-control"
                [ngClass]="{ 'is-invalid': pin.touched && pin.invalid }"
                name="pin" #pin="ngModel" [(ngModel)]="model.pin" required
              />
            </div>
          </div>

            <div class="form-group">
              <label for="phone">Phone</label>
              <input
                id="phone"
                type="number"
                class="form-control"
                [ngClass]="{ 'is-invalid': phone.touched && phone.invalid }"
                name="phone" #phone="ngModel" [(ngModel)]="model.phone" step="0.01" required
              />
            </div>

          <button class="btn btn-primary btn-block">Signup</button>
        </form>
      </div>
    </div>
  </div>
</div>
