<div class="card mb-4 box-shadow">
  <a [routerLink]="['/productDetail']" (click)="sendP(productItem?.id)"><img class="card-img-top p-2" width="100%" height="230px" [src]="productItem?.imageUrl"/></a>
  <div class="card-body">
    <p class="cart-text">
      <strong  class="text-muted">{{productItem?.price| currency:'INR'}}</strong>
    </p>
    <p class="card-text">{{productItem?.name?.toUpperCase()}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart(productItem?.id)">Add to Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn" [routerLink]="['/productDetail']" (click)="sendP(productItem?.id)">View Details</button>
      </div>
    </div>
  </div>
</div>

