<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <div class="navbar-collapse collapse order-1 order-md-0 dual-collapse2 mx-4">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/">ShopNow</a>
      </li>
    </ul>
  </div>
  <div class="mx-xl-5 order-3">
    <form class="d-flex">
      <input class="form-control col-xs-4" type="search" placeholder="Search" aria-label="Search">&nbsp;&nbsp;
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <div class="navbar-collapse collapse order-4 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="login">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-cart-plus mt-2 mr-2" viewBox="0 0 16 16">
          <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
          <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>
        </a>
        <button #elseBlock type="button" class="btn btn-info" data-toggle="modal" data-target="#orangeModalSubscription">Login</button>
      </li>
<!--      <div ngbDropdown class="nav-item dropdown">-->
<!--        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Login</a>-->
<!--        <ul ngbDropdownMenu class="dropdown-menu " aria-labelledby="navbarDropdown">-->
<!--          <li><a class="dropdown-item" routerLink="/my/orders">My Order</a></li>-->
<!--          <li><a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a></li>-->
<!--          <li><a class="dropdown-item" routerLink="admin/products">Manage Products</a></li>-->
<!--          <li><a class="dropdown-item" >Logout</a></li>-->
<!--        </ul>-->
<!--      </div>-->

    </ul>
  </div>
</nav>
<i class="fa fa-car"></i>
<div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Login</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <form [formGroup]="loginForm" #login="ngForm" (ngSubmit)="something({data : login.value})">
          <div class="md-form mb-5">
            <input id="email" name="email" class="form-control" formControlName="email" placeholder="Enter Email" type="email" id="form3" class="form-control validate">
            <label data-error="wrong" data-success="right" for="form3">Email</label>
          </div>

          <div class="md-form">
            <input type="password" id="form2" class="form-control validate" id="password" name="password"  formControlName="password" placeholder="Password">
            <label data-error="wrong" data-success="right" for="form2">Password</label>
          </div>
          <div class="modal-footer justify-content-center">
            <input type="submit" value="login" class="btn btn-outline-warning waves-effect client-info">
          </div>
        </form>
      </div>

      <!--Footer-->

    </div>
    <!--/.Content-->
  </div>
</div>
</body>
</html>
