<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black text-success">Order History</h3>
          <div>
            <button class="btn btn-primary" type="button" [routerLink]="['/']">Go Back</button>
          </div>
        </div>

        <div class="card rounded-3 mb-4"  *ngFor="let order of orderL">
          <div class="px-5 py-3">
            <h5 class="text-info">Order Id : {{order.orderId}}</h5>
          </div>
          <div class="card-body p-4"  *ngFor="let product of order.products">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  [src]="product?.imageUrl"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{product.name}}</p>
                <p><span class="text-muted">Quantity: </span>{{order.quantity[1]}}</p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">{{product.price| currency:'INR'}}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
